table,
tr,
td {
  border-spacing: 0;
  border-collapse: collapse;
}
table {
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
}
thead th {
  border-bottom: 1px solid black;
}
td {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
}
td.item-id {
  width: 30px;
  border: none;
  border-right: 1px solid grey;
}
td.checkbox {
  width: 40px;
}
td.name {
  text-align: left;
}
